body {
  background: #0b0b0b;
  color: #f5f5f5;
  font-family: sans-serif;
}

button {
    background: #444;
    font-family: sans-serif;
    color: #aaa
}

.button-active {
    background: #d392c8;
    color: #000;
    font-weight: bold;
}

.button-inactive {
    background: #444;
    color: #aaa;
}
